@import "main";

:host {
  mat-icon {
    @include userSelectNone;
  }

  mat-card {
    position: fixed;
    z-index: 6;
    top: 63px;
    right: 0;
    @include marginForRightTopCorner;
    @include userSelectNone;
    min-width: 255px;
    max-width: 400px;
    background-color: $cardOfPlaceBackgroundColor;

    mat-card-subtitle {
      padding-right: 2px;
    }

    mat-card-subtitle.time-s-up {
      color: red;
      font-weight: bold;
      padding-right: 0;
    }

    .btn-clear {
      position: absolute;
      top: 0;
      right: 0;
    }

    .btn-clear.hide {
      display: none;
    }


    mat-card-content {
      .for-confroom.hide {
        display: none;
      }

      .for-admin {
        textarea {
          background-color: white;
        }
      }

      .for-admin.hide {
        display: none;
      }

      .choosing-span {
        @include choosingSpan;
        margin-left: 3px;
        font-size: 1.1rem;
      }

      mat-form-field {
        width: 60%;
        margin-right: 1rem;
      }

      .state-of-place {
        position: relative;
        left: 0.5rem;
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
      }

      .state-of-place.free {
        color: $freeColor
      }

      .state-of-place.occupied {
        color: $occupiedColor;
      }
    }

    mat-card-actions {
      button {

      }

      button.hide {
        display: none;
      }
    }

    .logo-micro {
      background-size: cover;
    }
  }

  mat-card.hide {
    display: none;
  }

  .canvas {
    border: 1px solid $commonBorderColor;
    border-radius: 3px;
    padding: 0 0 40px 0;
    width: 100%;

    app-zoom {
      position: absolute;
      top: 0;
      right: 5px;
      @media (min-width: map-get($grid-breakpoints, "md")) {
        top: 5px;
        right: 20px;
      }
    }
  }
}
