@import "main";

:host {
  mat-icon {
    @include userSelectNone;
  }

  mat-card {
    position: fixed;
    z-index: 6;
    top: 63px;
    right: 0;
    @include marginForRightTopCorner;
    @include userSelectNone;
    min-width: 220px;
    max-width: 400px;
    background-color: $cardOfPlaceBackgroundColor;

    .btn-clear {
      position: absolute;
      top: -8px;
      right: -8px;
    }

    .btn-clear.hide {
      display: none;
    }

    mat-card-content {
      .for-confroom.hide {
        display: none;
      }

      mat-form-field {
        width: 60%;
        margin-right: 1rem;
      }

      .state-of-place {
        position: relative;
        left: 3rem;
        font-size: 1.7rem;
        font-weight: bold;
        text-transform: uppercase;
      }

      .state-of-place.free {
        color: $freeColor
      }

      .state-of-place.occupied {
        color: $occupiedColor;
      }
    }

    .logo-micro {
      background-size: cover;
    }
  }

  mat-card.hide {
    display: none;
  }

  .canvas {
    border: 1px solid $commonBorderColor;
    border-radius: 3px;
    padding: 0 0 40px 0;
    width: 100%;
    overflow: scroll;

    app-zoom {
      z-index: 9;
      position: absolute;
      top: 05px;
      right: 20px;
      transform: scale(0.7);
      @media (min-width: map-get($grid-breakpoints, "md")) {
        transform: scale(1);
      }
    }
  }
}
