<div class="row rooms-edit mt-3">

  <div class="col-sm-6 col-md-3 mt-1 mb-3">
    <button (click)="onSaveClick()"
            class="btn btn-block btn-outline-warning"
            type="button">
      Save & close
    </button>
  </div>

  <div class="col-sm-6 col-md-3 mt-1 mb-3">
    <button class="btn btn-block btn-outline-success"
            disabled
            matTooltip="Sorry, this option is unavailable in this release"
            type="button">
      Load from server
    </button>
  </div>

  <div class="col-sm-6 col-md-3 mt-1 mb-3">
    <button (click)="onCancelEdit()"
            class="btn btn-block btn-outline-secondary"
            type="button">
      Cancel edit
    </button>
  </div>

  <div class="col-sm-6 col-md-3 mt-1 mb-3">
    <button (click)="onClearAllClick()"
            class="btn btn-block btn-outline-danger"
            type="button">
      Clear all
    </button>
  </div>

  <div class="col-sm-4 my-1">
    <div *ngFor="let editorBlock of editorBlocks" class="card mb-2">
      <div class="card-header">
        <mat-icon (click)="onLockClick(editorBlock.name)" class="pr-1">
          {{blockedElements.includes(editorBlock.name) ? 'lock' : 'lock_open'}}
        </mat-icon>
        <span>{{editorBlock.name}}</span>
      </div>
      <div class="card-body">
        <img (click)="onClickAddElementOnCanvas($event, editorBlock.name, url.title)"
             *ngFor="let url of editorBlock.urls"
             [alt]="url.title" [src]="url.src"
             class="images-item"
             matTooltip="{{url.title}}"
             matTooltipPosition="above">
      </div>
    </div>
  </div>

  <div class="col-sm-8 my-1 canvas">
    <app-zoom (zoomChange)="doCanvasZoom($event)" [zoom]="canvasSize.zoom"></app-zoom>
    <canvas #htmlCanvas class="my-3 mx-1 canvas-place"></canvas>
  </div>

  <!--  <div class="col-sm-12 my-2">-->
  <!--    <button (click)="onDeleteMap()"-->
  <!--            [disabled]="!checkToDelete"-->
  <!--            class="btn btn-sm btn-danger mr-4 my-2"-->
  <!--            type="button">-->
  <!--      Delete map-->
  <!--    </button>-->
  <!--    <label class="form-check-label" for="deletingButton">-->
  <!--      <input #checkboxForDelete-->
  <!--             (click)="onClickAgreeToDelete()"-->
  <!--             class="form-check-input"-->
  <!--             id="deletingButton"-->
  <!--             type="checkbox">-->

  <!--      <div class="alert {{checkToDelete ? 'alert-secondary' : 'alert-danger'}} mr-2" role="alert">-->
  <!--        Deleting of this map causes to a significant loss of information. I understand that and want to continue-->
  <!--      </div>-->
  <!--    </label>-->

  <!--  </div>-->

  <mat-icon #clone (click)="onClone()"
            [ngClass]="{'hide': !activeElementOnCanvas.clone}"
            class="icons-for-canvas b-clone">
    file_copy
  </mat-icon>
  <mat-icon #close (click)="onDeleteCanvasObj()"
            [ngClass]="{'hide': !activeElementOnCanvas.close}"
            class="icons-for-canvas b-close">
    close
  </mat-icon>

  <mat-card #cardForPlace [ngClass]="{'hide': !currentPlace.isPlaceHovered || currentPlace.isPlaceClickedToClose}">
    <mat-card-header>
      <button aria-label="Clear" class="btn-clear" mat-button mat-icon-button>
        <mat-icon (click)="currentPlace.isPlaceClickedToClose = true">close</mat-icon>
      </button>
      <img alt="Logo exadel" mat-card-avatar src="../assets/images/logo/logo_micro2.jpg">
      <mat-card-title>{{currentPlace.placeData?.placeType === placeRole.cowork ? 'Cowork'
        : currentPlace.placeData?.placeType === placeRole.confroom ? 'Confroom' : 'Administration'}}
        #{{currentPlace.placeData?.number | number:'3.0-0'}}
      </mat-card-title>
      <mat-card-subtitle> uuid: {{currentPlace.placeData?.id | slice:0:17}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mx-auto">
      <p>State: <span class="state-of-place free">free</span></p>
      <!--      <p>State: <span class="state-of-place {{currentPlace.placeData?.isFree ? 'free' : 'occupied'}}">-->
      <!--          {{currentPlace.placeData?.isFree ? 'free' : 'occupied'}}</span></p>-->
      <div [ngClass]="{'hide': currentPlace.placeData?.placeType !== placeRole.confroom}" class="for-confroom">
        <p class="my-3">
          Max quantity of place here is:
          <span class="font-weight-bold" style="font-size: 1.2rem">{{currentPlace.placeData?.maxQuantity}}</span>
        </p>
        <form (ngSubmit)="onSubmitMaxQuantity()" [formGroup]="formMaxQuantity">
          <mat-form-field appearance="outline" hintLabel="Any number from {{confroom.min}} to {{confroom.max}}">
            <mat-label>Enter max quantity of places</mat-label>
            <input formControlName="maxQuantity" matInput step="1" type="number">
            <mat-error *ngIf="maxQuantityState.hasError('min')">
              Number must be {{confroom.min}} or bigger
            </mat-error>
            <mat-error *ngIf="maxQuantityState.hasError('max')">
              Number must be {{confroom.max}} or less
            </mat-error>
          </mat-form-field>
          <button [disabled]="maxQuantityState.invalid" mat-raised-button type="submit">APPLY</button>
        </form>
      </div>
    </mat-card-content>

  </mat-card>

</div>
