<div class="header">

  <nav class="navbar navbar-light">

    <!--Left element menu-->
    <ng-container *ngIf="userToken$ | async">
      <button
        (click)="isVisibleSidebar()"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false" aria-label="Toggle navigation"
        class="header--burger navbar-toggler"
        data-target="#navbarToggleExternalContent"
        data-toggle="collapse"
        type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
    </ng-container>

    <!--Center element menu (position-absolute)-->
    <a class="header--logo"></a>

    <!--Right element menu-->
    <ng-container *ngIf="userToken$ | async">
      <div class="header--search d-flex align-items-center">
        <form
          #form="ngForm"
          (ngSubmit)="onFormSubmit()"
          class="form-inline mr-4">
          <input
            aria-label="Search"
            class="form-control mr-sm-2"
            matTooltip="Sorry, this option is unavailable in this release"
            minlength="3"
            name="search"
            ngModel placeholder="Search"
            required
            type="search">
          <button
            [disabled]
            class="search-btn btn my-2 my-sm-0"
            matTooltip="Sorry, this option is unavailable in this release"
            type="submit">Search
          </button>
        </form>

        <div class="header--user-menu">
          <div
            #btnSubMenu
            (click)="onClickSubmenu()"
            class="d-flex align-items-center">
            <div class="user-icon">{{usernameForIcon}}</div>
            <div class="ml-1 dropdown-toggle"></div>
          </div>
          <div
            #subMenu
            [style.display]="isVisibleSubmenu ? 'block' : 'none'"
            aria-labelledby="navbarDropdownMenuLink"
            class="user-menu dropdown-menu dropdown-menu-right">
            <a
              (click)="onClickSubmenu()"
              class="hover-item dropdown-item" routerLink="/profile">
              Profile
            </a>
            <a
              (click)="onLogout()"
              class="hover-item dropdown-item">
              Logout
            </a>
          </div>
        </div>

      </div>
    </ng-container>

  </nav>

</div>

