@import "main";

.users {
  margin: 2.5rem 0;

  .table {

    thead th{
      position: sticky;
      top: 3.78rem;
    }

    &--row {
      vertical-align: middle;
    }

    &--btn {
      border-color: $btn-bg;
      color: $btn-bg;
      &:hover {
        border-color: #40bfef;
        background: #40bfef;
        color: #ffff;
      }
    }
  }
}
