@mixin marginForRightTopCorner() {
  margin: 0.4rem 1rem 0 0;
}

@mixin userSelectNone() {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

@mixin styleForTitle() {
  margin: 2.5rem 0 calc(2.5rem * 2) 0;
  h2.h1 {
    font-weight: bold;
    font-size: 1.5rem;
  }
}

@mixin choosingSpan() {
  font-weight: 500;
  color: $mainThemeColor;
  padding-right: 7px;
}
