$body-bg: #ffff;

$header-bg: #f9f9f9;
$user-icon-bg: #c0c0c0;

$footer-bg: #f9f9f9;

$dropdown-menu-bg: #f9f9f9;
$dropdown-menu-hover: #40bfef;

$btn-bg: #0282ca;
$btn-hover: #40bfef;

$radio-btn: #40bfef;

$loader: #40bfef;

$bg-semitransparent: rgba(0, 0, 0, 0.7);
