$mainThemeColor: #40bfef;
$commonBorderColor: black;
$canvasBorderColor: lightgrey;
$hoverItemBackgroundColor: lightblue;
$ItemBorderColor: grey;
$editorLockColor: $mainThemeColor;
$hoverCloneColor: $mainThemeColor;
$hoverCloseColor: red;
$cardOfPlaceBackgroundColor: #f9f9f9;
$freeColor: #16ee32;
$occupiedColor: red;
