.mat-card {
  min-width: 12.5rem;
  max-width: 25rem;
}

mat-card-subtitle {
  font-size: 1.1rem;
}

ul {
  display: inline-block;
  min-width: 10.5rem;
  text-align: center;
}

li {
  font-size: 1rem;
  text-align: left;
}

.list-group-item {
  border: none;
  margin-bottom: -0.75rem;
}
