img {
  border-radius: 1.56rem;
}

li {
  font-size: 1rem;
}

.name {
  font-size: 1.25rem;
  font-weight: 500;
}

.position {
  font-size: 1.1rem;
  font-weight: 400;
}

ul {
  min-width: 10.5rem;
}

.list-group-item {
  border: none;
  margin-bottom: -0.75rem;
}
