<div class="container">
  <div class="row text-center mt-4">
    <div class="col-sm-12">
      <p class="name">
        {{user.userInfo.firstName}} {{user.userInfo.lastName}}
      </p>
    </div>
    <div class="col-sm-12 mt-2">
      <p class="position">
        Position:
      </p>
    </div>
  </div>
  <div class="row mt-2 text-center">
    <div class="col-sm-12 mt-3">
      <ul class="list-group">
        <li class="list-group-item font-italic">
          Department:
        </li>
        <li class="list-group-item font-italic">
          Location:
        </li>
        <li class="list-group-item font-italic">
          HR:
        </li>
        <li class="list-group-item font-italic">
          Email: {{user.userInfo.email}}
        </li>
        <li class="list-group-item font-italic">
          Skype:
        </li>
        <li class="list-group-item font-italic">
          Phone:
        </li>
      </ul>
    </div>
  </div>
  <div class="row text-center mt-4">
    <div class="col-sm-12">
      <button type="button" class="btn btn-outline-info">
        Go to active bookings
      </button>
    </div>
  </div>
</div>
