<form class="row mt-4 justify-content-center"
      [formGroup]="form">

  <mat-form-field appearance="outline" class="col-sm-4 my-1 select-form">
    <mat-label class="">Choose a country</mat-label>
    <mat-select formControlName="country"
                (selectionChange)="onSelected($event.value)">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let option of countryOptions"
                  [value]="option | lowercase">
        {{option}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-sm-4 my-1 select-form">
    <mat-label>Choose a city</mat-label>
    <mat-select formControlName="city"
                (selectionChange)="onSelected($event.value)">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let option of cityOptions"
                  [value]="option | lowercase">
        {{option}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-sm-4 my-1 select-form">
    <mat-label>Choose an office</mat-label>
    <mat-select formControlName="office"
                (selectionChange)="onSelected($event.value)">
      <mat-option>--</mat-option>
      <mat-option *ngFor="let option of officeOptions"
                  [value]="option | lowercase">
        {{option}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="col-sm-4">
    <app-clearable-input (inputMessage)="onInputMessage($event)"
                         [label]="'Any'"
                         [disableStatus]="true"
                         [value]="'some value'">
    </app-clearable-input>
  </div>

  <div class="text-center col-sm-8 my-1">
    <button type="button" class="btn btn-outline-warning mx-3">Edit</button>
    <button type="button" class="btn btn-outline-danger mx-3">Delete</button>
  </div>

</form>
