<form [formGroup]="selectOfficeForm" class="row mt-4 justify-content-center">

  <mat-form-field appearance="outline" class="col-sm-6 col-md-3 my-1 select-form">
    <mat-label class="">Country</mat-label>
    <mat-hint>Please choose a country</mat-hint>
    <mat-select (selectionChange)="onSelected($event)"
                [hasFocus]="currentFocus === 'country'"
                formControlName="country">
      <mat-option *ngFor="let option of countryOptions"
                  [value]="option | lowercase">
        {{option}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-sm-6 col-md-3 my-1 select-form">
    <mat-label>City</mat-label>
    <mat-hint *ngIf="!!country && country.toLowerCase() !=='new'">Please choose a city</mat-hint>
    <mat-select (selectionChange)="onSelected($event)"
                [hasFocus]="currentFocus === 'city'"
                formControlName="city">
      <mat-option *ngFor="let option of cityOptions"
                  [value]="option | lowercase">
        {{option}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-sm-6 col-md-3 my-1 select-form">
    <mat-label>Address</mat-label>
    <mat-hint *ngIf="!!city && city.toLowerCase() !=='new'">Please choose an address</mat-hint>
    <mat-select (selectionChange)="onSelected($event)"
                [hasFocus]="currentFocus === 'address'"
                formControlName="address">
      <mat-option *ngFor="let option of addressOptions"
                  [value]="option | lowercase">
        {{option}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="col-sm-6 col-md-3 mt-1 mb-2 select-form">
    <mat-label>Floor</mat-label>
    <mat-hint *ngIf="!!address && address.toLowerCase() !=='new'">Please choose a floor</mat-hint>
    <mat-select (selectionChange)="onSelected($event)"
                [hasFocus]="currentFocus === 'floor'"
                formControlName="floor">
      <mat-option *ngFor="let option of floorOptions"
                  [value]="option | lowercase">
        {{option}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="col-sm-6 col-md-3">
    <mat-form-field appearance="outline">
      <mat-label>{{!!newSelected ? 'Please enter a new ' + newSelected : ''}}</mat-label>
      <input (change)="onInputMessage($event)"
             (input)="checkInputErrors()"
             [errorStateMatcher]="matcher"
             [hasFocus]="currentFocus === 'new'"
             autocomplete="off" formControlName="inputNew"
             matInput
             type="text">
      <button (click)="selectOfficeForm.patchValue({inputNew: ''})"
              *ngIf="!!inputNew && !!newSelected"
              aria-label="Clear"
              mat-button
              mat-icon-button
              matSuffix>
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="inputNewState.hasError('sameName')">
        You entered an <strong>existing {{newSelected}}.</strong> Please change it.
      </mat-error>

    </mat-form-field>

  </div>

  <div class="col-sm-6 col-md-3 btn-div">
    <button [disabled]="buttonsDisable.apply" class="btn btn-block btn-outline-secondary" type="button">
      Apply
    </button>
  </div>

  <div class="col-sm-6 col-md-3 btn-div">
    <button (click)="onClickShowHide()"

            class="btn btn-block btn-outline-warning"
            type="button">
      Edit
    </button>
  </div>

  <div class="col-sm-6 col-md-3 btn-div">
    <button [disabled]="buttonsDisable.delete" class="btn btn-block btn-outline-danger" type="button">Delete</button>
  </div>


</form>
