<div class="container">
  <!--  ToDo shared component -->
  <div class="row">
    <div class="col-sm-12 text-center booking-title">
      <h2 class="h1">Booking</h2>
      <h4 class="mt-3">
        <div *ngIf="!!chooseOffice?.data; else noMap">
          Country: <span class="choosing-span">{{chooseOffice?.data.country}}</span>
          City: <span class="choosing-span">{{chooseOffice?.data.city}}</span>
          Address: <span class="choosing-span">{{chooseOffice?.data.address}}</span>
          <!--          floor: <span class="choosing-span">1</span>-->
        </div>
        <ng-template #noMap>Please choose an office</ng-template>
      </h4>
    </div>
  </div>
  <office-choosing-container (roomEdit)="chooseOffice = $event"></office-choosing-container>

  <div class="row justify-content-start">

    <div class="col-sm-6 col-md-3 my-1">
      <mat-form-field appearance="outline">
        <mat-label>Choose Date</mat-label>
        <input [matDatepicker]="picker3" [value]="date.value" matInput>
        <mat-datepicker-toggle [for]="picker3" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-sm-6 col-md-6 my-1">
      <mat-form-field appearance="outline">
        <mat-label>Choose a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div class="col-sm-6 col-md-3 mt-3">
      <button (click)="onClickShowMap()" class="btn btn-block btn-outline-primary">
        Show map
      </button>
    </div>
  </div>

  <app-booking-map-container></app-booking-map-container>

  <app-booking-table-container></app-booking-table-container>
</div>
