<div class="container">

  <office-choosing-container></office-choosing-container>

  <div class="row justify-content-start">

    <div class="col-sm-6 col-md-3 my-1">
      <mat-form-field appearance="outline">
        <mat-label>Choose Date</mat-label>
        <input [matDatepicker]="picker3" [value]="date.value" matInput>
        <mat-datepicker-toggle [for]="picker3" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-sm-6 col-md-4 my-1">
      <mat-form-field appearance="outline">
        <mat-label>Choose a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div class="col-sm-6 col-md-2 mt-3">
      <button (click)="onClickAnotherAddress()"
              [disabled]="!(blockSelection$ | async)"
              class="btn btn-block btn-outline-secondary">
        Another address
      </button>
    </div>

    <div class="col-sm-6 col-md-3 mt-3">
      <button (click)="showMap = !showMap"
              [disabled]="!(blockSelection$ | async)"
              class="btn btn-block btn-outline-primary">
        {{showMap ? 'Hide map' : 'Show map'}}
      </button>
    </div>

  </div>

  <app-booking-map-container *ngIf="(blockSelection$ | async) && showMap"></app-booking-map-container>

  <app-booking-table-container></app-booking-table-container>
</div>
