@import "main";

:host {
  .booking-title {
    @include styleForTitle;

    .choosing-span {
      font-weight: 500;
      font-size: 1.2rem;
      color: $mainThemeColor;
      padding-right: 7px;
    }
  }

  mat-form-field {
    width: 100%;
  }
}
