<div class="container">
  <app-office-choosing></app-office-choosing>
  <div class="row">
    <div class="col-sm-4 my-1">
      <form class="form">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Favorite food</mat-label>
          <input matInput placeholder="Ex. Pizza" value="Sushi" [disabled]="true">
        </mat-form-field>
      </form>
    </div>
    <div class="text-center col-sm-8 my-1">
      <button type="button" class="btn btn-outline-warning mx-3">Edit</button>
      <button type="button" class="btn btn-outline-danger mx-3">Delete</button>
    </div>

    <div class="text-center">
        <img
          src="https://static.tildacdn.com/tild3938-3732-4866-b233-623966336431/move1.jpg"
          alt="office-map"
          title="office-map"
          class="img-fluid">
    </div>

  </div>
</div>
