<div class="container">
  <div class="row">
    <div class="col-sm-12 my-2 text-center">
      <h2 class="mt-2 mt-lg-5 mb-2 h1" style="font-size: 2rem">Create or edit office</h2>
      <h4 class="mt-3">
        <div *ngIf="showMap; else noMap">
          Country: <span class="choosing-span">Belarus</span>
          City: <span class="choosing-span">Grodno</span>
          Address: <span class="choosing-span">Sverdlova str.2</span>
          floor: <span class="choosing-span">1</span>
        </div>
        <ng-template #noMap>Please choose an office</ng-template>
      </h4>
    </div>
  </div>

  <office-choosing-container></office-choosing-container>

  <app-rooms-management-edit *ngIf="showMap"></app-rooms-management-edit>

</div>
