<div class="container">

  <app-office-choosing></app-office-choosing>

  <!--  temporary btn to delete later-->
    <div class="text-center row my-2">
      <button type="button" class="btn btn-block btn-outline-success mx-3" routerLink="/rooms-management/edit">
        Start immediate edit --/*temporary btn*/--
      </button>
    </div>

  <div class="text-center">
    <img
      src="https://static.tildacdn.com/tild3938-3732-4866-b233-623966336431/move1.jpg"
      alt="office-map"
      title="office-map"
      class="img-fluid">
  </div>

</div>
